node_modules
.env
dist
.pgdata
.minio

# pnpm
.pnpm-store
.pnp.*
.pnpm-debug.log*

# Test
test.ts
test*
coverage

# Environment variables
.env.local
.env

.logs/

.claude/

# Ignore all MD (markdown) files except README.md, CONTRIBUTING.md, and .github/ directory
*.md
!README.md
# !CONTRIBUTING.md
!.github/**